.Tabs-heading {
	display: inline-block;
	cursor: pointer;
}

.Tabs-heading + .Tabs-heading {
	margin-left: 5px;
}

.Tabs-heading--active {
	text-decoration: underline;
}

.Tab {
	display: none;
}

.Tab--active {
	display: block;
}
